<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="cuentas-usuario">
 <template>
   <style>
     :host {
       display: block;
       font-family: Helvetica;
     }
     .container{
       width: 100%;
       max-width: 600px;
       margin: 0 auto;
       padding: 100px 0;
       padding-top: 10px;
     }
     .container h4{
       font-family: Helvetica;
       color: rgb(0, 0, 0);
     }
     .container h1{
       font-family: Helvetica;
       color: rgb(0, 0, 0);
     }
     .container .table .thead-dark th{
       background:  #2e2e2e !important
     }
     .container .table-bordered th{
       background: rgb(0, 0, 0)
     }
     .container .table-bordered td{
       background: white
     }
   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
     <!-- Bootstrap permite indicar el ancho por nº columnas (col-md-5 indica 5 columnas)
     total columnas 12 (que indica el ancho máximo)-->
     <!-- media query -->

     <div hidden$="{{isvar2}}" class="container">
         <h4 class="col-md-5">Usuario: {{first_name}} {{last_name}}</h2>
         <h1 class="text-left">Cuentas</h1>
        <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Número</th>
            <th scope="col">Nombre</th>
            <th scope="col">Moneda</th>
            <th scope="col">Saldo</th>
            <th scope="col">Acción</th>
          </tr>
        </thead>
        <template is="dom-repeat" id="accountUser" items="{{account}}">
            <tr>
                <td>{{item.id}}</td>
                <td>{{item.nombre}}</td>
                <td>{{item.moneda}}</td>
                <td>{{item.saldo}}</td>
                <td>
                  <button  class="btn btn-link" on-click="panelmovimientos">Movimientos</button>
                  <button  class="btn btn-link" on-click="panelTransaccion">Realizar Transacción</button>
                </td>
          </tr>
        </template>
       </table>
       <div>
         <button type="button" id="volver" on-click="volver" class="btn btn-primary">Volver</button>
       </div>
   </div>


    <iron-ajax
       auto=""
       id="getuser1"
       url="http://localhost:3000/api/v1/users/{{idr}}/accounts"
       handle-as="json"
       on-response="showaccount"></iron-ajax>

 </template>


 <script>
   /**
    * @customElement
    * @polymer
    */
   class CuentasUsuario extends Polymer.Element {
     static get is() { return 'cuentas-usuario'; }
     static get properties() {
       return {
         idcue:{
           type:String
         },
         first_name: {
           type: String
         },
         last_name: {
           type: String
         },
         email: {
           type: String
         },
         account: {
           type: Array
         },
         idr:{
           type:String
         },
         isvar2:{
           type:Boolean,
           value:true
         },isvar5:{
           type:Boolean
         }
       };
     }
     showData(data){
        console.log("Recibidos datos del usuarios cuentas:");
        //mLab nos devuelve un array con el objeto solicitado por eso [0]
        console.log(data.detail.response);

        this.idr = data.detail.response.id;
        this.first_name = data.detail.response.first_name;
        this.last_name = data.detail.response.last_name;
        this.email = data.detail.response.email;
      }
      showaccount(data){
         console.log("Recibidos datos del usuarios en cuentas:");
        //mLab nos devuelve un array con el objeto solicitado por eso [0]
         console.log(data.detail.response.data);
         this.account = data.detail.response.data;
       }
       panelmovimientos(e){
         console.log("pulsa boton movimientos: ");
         this.isvar5=false;
         this.isvar2=true;
         e.model.item.id
         this.dispatchEvent(new CustomEvent('panelmovimientos', {detail:{email:this.email,idr:this.idr,idcue:e.model.item.id,nombrecuenta:e.model.item.nombre,first_name:this.first_name,last_name:this.last_name,isvar5:this.isvar5}}))
         console.log(this.email);
         console.log(this.idcue);
         console.log(this.isvar5);

       }
       panelTransaccion(e){
         console.log("pulsa boton agregar transaccion");
         console.log(e.model.item.id);
         this.isvar2=true;
         this.isvar5=true;
         this.isvar4=true;
         this.isvar7=true;
         this.isvar6=true;
         this.isvar9=true;
         this.isvar3=false;
         this.isLogged=true;
         this.dispatchEvent(new CustomEvent('nuevaTransaccion', {detail:{email:this.email,idusu:this.idr,isvar1:this.isvar2,isvar5:this.isvar5,isvar3:this.isvar3,isvar4:this.isvar4,isvar6:this.isvar6,isvar7:this.isvar7,isvar6:this.isvar6,isvar9:this.isvar9,isvarB:this.isvarB,idcue:e.model.item.id,nombrecuenta:e.model.item.nombre,first_name:this.first_name,last_name:this.first_name}}))
       }
       mostrarDatosRecibidoscuentas(data){
        console.log("MostrarDatosRecibidoscuentas")
        console.log(JSON.stringify(data))
        this.idr=data.idusu;
        this.first_name = data.first_name;
        this.last_name = data.last_name;
        this.email = data.email;
        this.isvar2=data.isvar2;
       }
       volver(){
         console.log("Pantalla Cuentas, botón volver");
         this.isvar2 = true;
         this.dispatchEvent(new CustomEvent('loginOK', {detail:{email:this.email,first_name:this.first_name,last_name:this.last_name,isLogged:this.isLogged,ishome:this.ishome,idusu:this.idr}}))
       }
   }
   window.customElements.define(CuentasUsuario.is, CuentasUsuario);
 </script>
</dom-module>
