<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
 <!-- Plantilla del componente -->
 <template>
   <style>
     :host {
       display: block;
       font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     }
     .container{
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      padding: 100px 0;
      top:100px;
     }
     .col-md-12{
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: rgb(0, 0, 0);
      }
     .card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
      }
   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
     <!-- Bootstrap permite indicar el ancho por nº columnas (col-md-5 indica 5 columnas)
     total columnas 12 (que indica el ancho máximo)-->
     <!-- media query -->
     <div hidden$="{{isLogged}}" class="container text-center">
       <h1 class="col-md-12">Ingreso</h1>
       <br />
         <div class="card" style="width: 30rem;" alt="Responsive card">
           <div class="card-body">
             <div class="form-group">
               <label for="exampleInputEmail1">Email</label>
               <input type="email" class="form-control" id="exampleInputEmail1" on-click="myFunction" placeholder="Ingrese su email" value="{{email::input}}">
             </div>
             <div class="form-group">
               <label for="exampleInputPassword1">Password</label>
               <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Ingrese su Password" value="{{password::input}}">
             </div>
             <button  class="btn btn-primary" on-click="login">Login</button><br></br>
             <a href="#" on-click="nuevoUsuario">Registrarse</a>
             <div hidden$="{{isvar8}}" class="alert alert-danger">
              <strong>Email o Password incorrecto!</strong>
            </div>
           </div>
        </div>
     </div>
   <iron-ajax
     id="doLogin"
     url="http://localhost:3000/api/v1/login"
     content-type="application/json"
     method="POST"
     handle-as="json"
     on-response="manageAJAXResponse"
     on-error="showError">
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class LoginUsuario extends Polymer.Element {
     static get is() { return 'login-usuario'; }
     static get properties() {
       return {
         email: {
           type: String
         }, password: {
           type: String
         }, isLogged: {
           type: Boolean,
           value: false
         },
         ishome:{
           type:Boolean,
           value:false
         },
         first_name: {
           type: String
         },
         last_name: {
           type: String
         },
         idusu:{
           type: String
         },
         isvar8:{
           type:Boolean,
           value:true
         }
       };
     }
     nuevoUsuario(){
       console.log("pulsa boton agregar");
       this.isvar2=true;
       this.isvar5=true;
       this.isvar4=true;
       this.isvar7=true;
       this.isvar6=true;
       this.isvar9=true;
       this.isvar3=false;
       this.isLogged=true;
       this.isvarD=true;
       this.dispatchEvent(new CustomEvent('panelagregar', {detail:{email:this.email,idusu:this.idusu,isvar1:this.isvar2,isvar5:this.isvar5,isvar3:this.isvar3,isvar4:this.isvar4,isvar6:this.isvar6,isvar7:this.isvar7,isvar6:this.isvar6,isvar9:this.isvar9,isvarD:this.isvarD}}))
     }
     login(e) {
       console.log("El usuario ha pulsado el botón login");
       var loginData = {
         "email" : this.email,
         "password" : this.password
       };
       this.$.doLogin.body = JSON.stringify(loginData);
       this.$.doLogin.generateRequest();
     }
     myFunction(){
       this.isvar8=true;
     }
    mostrarDatosRecibidos(data){
        console.log("Receptor:"+JSON.stringify(data));
        console.log(data.isLogged);
        console.log(data.ishome);
        this.ishome= data.ishome;
        this.isLogged=data.isLogged;
        this.isvar8=data.isvar8;
      }
     manageAJAXResponse(data) {
       console.log("Recibida respuesta del servidor");
       console.log(data.detail.response.ok);
       console.log(data.detail.response.data.firstName);
       console.log(data.detail.response.data.lastName);
       this.first_name = data.detail.response.data.firstName;
       this.last_name =data.detail.response.data.lastName;
       this.idusu=data.detail.response.data.id;
       if (data.detail.response.ok){
         this.isLogged=true;
         this.ishome=false;
       } else {
         this.isLogged=false;
         this.ishome=true;
         this.isvar8=false;
       }
       this.dispatchEvent(new CustomEvent('loginOK', {detail:{email:this.email,first_name:this.first_name,last_name:this.last_name,isLogged:this.isLogged,ishome:this.ishome,idusu:this.idusu}}))
       console.log("isLoggeddellogin:" + this.isLogged);
       console.log("ishomedellogin:" + this.ishome);
       console.log("idusu:" +this.idusu);
     }
     showError(error) {
       console.log("Hubo un error");
       console.log(error);
       this.isvar8 = false;
     }

   }
   window.customElements.define(LoginUsuario.is, LoginUsuario);
 </script>
</dom-module>
